@media #{$small-up}{
  footer{
    display: flex;

    .footer-join{
      width: 70%;
      height: 200px;
      font-size: 2.6vw;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $white;
      background: $gray-dark;

      a{
        color: $seafoam;
        position: relative;
        text-decoration: none;

        &:hover,
        &:focus{

          &:before{
            content: '';
            position: absolute;
            bottom: .1em;
            left: 0;
            width: 100%;
            height: .075em;
            background: $seafoam;
          }
        }
      }
    }

    .footer-social{
      width: 30%;
      height: 200px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $gray-dark;
      background: $seafoam;
    }
  }
}

@media #{$medium-up}{
}

@media #{$large-up}{
}
