@media #{$small-up}{
  footer{
    display: flex;

    &.visible{

      .footer-join p{
        opacity: 1;
        animation: reveal 1s ease-in-out;
      }

      .footer-social #social-links{
        opacity: 1;
        animation: reveal 1s ease-in-out;
      }
    }

    .footer-join{
      width: 70%;
      height: 200px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $white;
      background: $gray-dark;

      p{
        opacity: 0;
        margin: 0;
        font-size: 2.6vw;
      }

      a{
        color: $seafoam;
        position: relative;
        text-decoration: none;

        &:hover,
        &:focus{

          &:before{
            content: '';
            position: absolute;
            bottom: .1em;
            left: 0;
            width: 100%;
            height: .075em;
            background: $seafoam;
          }
        }
      }
    }

    .footer-social{
      width: 30%;
      height: 200px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $gray-dark;
      background: $seafoam;

      #social-links{
        opacity: 0;

        a{
          width: 50px;
          height: 50px;
          float: left;
          background: url(../images/social.svg);
          background-size: 150px 100px;
          background-position: 0 0;

          &:first-child{
            margin-right: 17px;
          }

          &:last-child{
            margin-left: 17px;
          }

          &.facebook{
            background-position: 0 0;

            &:hover{
              background-position: 0 -50px;
            }
          }

          &.twitter{
            background-position: -50px 0;

            &:hover{
              background-position: -50px -50px;
            }
          }

          &.instagram{
            background-position: -100px 0;

            &:hover{
              background-position: -100px -50px;
            }
          }
        }
      }
    }
  }
}

@media #{$medium-up}{
}

@media #{$large-up}{
}
