header{

  .header-logo{
    width: 148px;
    height: 33px;
    position: absolute;
    left: calc(50% - 74px);
    top: 43px;
  }

  .header-cta{
    position: absolute;
    right: 20px;
    top: 36px;
  }
}
