@media #{$small-up}{
  header{
    z-index: 10;
    position: relative;

    .header-logo{
      width: 148px;
      height: 33px;
      position: absolute;
      left: calc(50% - 74px);
      top: 43px;
      animation: fromTop 1s ease-in-out;
    }

    .header-cta{
      position: absolute;
      right: 34px;
      top: 34px;
      animation: fromRight 1s ease-in-out;
    }
  }
}

@media #{$medium-up}{
}

@media #{$large-up}{
}
