@media #{$small-up}{
  #opportunity{
    z-index: 1;
    height: 760px;
    padding: 0 17px;
    margin: -68px 0 0;
    color: $gray-medium;
    position: relative;
    background: url(../images/opportunity-large.png);
    background-size: cover;
    background-position: center bottom;

    &.visible{

      #headline{
        opacity: 1;
        animation: fromLeft 1s ease-in-out;
      }
    }

    #headline{
      width: 40%;
      opacity: 0;
      min-width: 540px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      p{
        padding: 8px 0 0;
      }

      h3{
        color: $gray-light;
      }

      .box{
        color: $white-off;
        background: $seafoam;
      }
    }
  }
}

@media #{$medium-up}{
}

@media #{$large-up}{
}
