// Keyframe animations
@keyframes reveal{
  0%{
    opacity: 0;
  }
  50%{
    opacity: 0;  
  }
  100%{
    opacity: 1;
  }
}

@keyframes fromTop{
  0%{
    opacity: 0;
    margin-top: -1.5rem;
  }
  100%{
    opacity: 1;
    margin-top: 0;
  }
}

@keyframes fromRight{
  0%{
    opacity: 0;
    margin-right: -4rem;
  }
  100%{
    opacity: 1;
    margin-right: 0;
  }
}

@keyframes fromLeft{
  0%{
    opacity: 0;
    margin-left: -4rem;
  }
  100%{
    opacity: 1;
    margin-left: 0;
  }
}
