// Type
@font-face {
  font-family: 'oblique';
  src: url('../fonts/Avenir-Oblique.eot');
  src: url('../fonts/Avenir-Oblique.woff2') format('woff2'),
       url('../fonts/Avenir-Oblique.woff') format('woff'),
       url('../fonts/Avenir-Oblique.ttf') format('truetype'),
       url('../fonts/Avenir-Oblique.svg#Avenir-Oblique') format('svg'),
       url('../fonts/Avenir-Oblique.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roman';
  src: url('../fonts/Avenir-Roman.eot');
  src: url('../fonts/Avenir-Roman.woff2') format('woff2'),
       url('../fonts/Avenir-Roman.woff') format('woff'),
       url('../fonts/Avenir-Roman.ttf') format('truetype'),
       url('../fonts/Avenir-Roman.svg#Avenir-Roman') format('svg'),
       url('../fonts/Avenir-Roman.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'heavy';
  src: url('../fonts/Avenir-Heavy.eot');
  src: url('../fonts/Avenir-Heavy.woff2') format('woff2'),
       url('../fonts/Avenir-Heavy.woff') format('woff'),
       url('../fonts/Avenir-Heavy.ttf') format('truetype'),
       url('../fonts/Avenir-Heavy.svg#Avenir-Heavy') format('svg'),
       url('../fonts/Avenir-Heavy.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

.oblique{
  font-family: 'oblique', sans-serif;
}

.roman{
  font-family: 'roman', sans-serif;
}

.heavy{
  font-family: 'heavy', sans-serif;
}

.cta{
  padding: 15px 25px;
  border-radius: 2px;
  font-size: 14px;
  font-family: 'heavy';
  text-transform: uppercase;
  text-decoration: none;

  &.cta-seafoam{
    color: $gray-dark;
    background: $seafoam;
    transition: $out-transition;

    &:hover,
    &:focus{
      background: $white;
      transition: $in-transition;
    }
  }
}

@media #{$small-up}{
}

@media #{$medium-up}{
}

@media #{$large-up}{
}
