// Type
@font-face {
  font-family: 'oblique';
  src: url('../fonts/Avenir-Oblique.eot');
  src: url('../fonts/Avenir-Oblique.woff2') format('woff2'),
       url('../fonts/Avenir-Oblique.woff') format('woff'),
       url('../fonts/Avenir-Oblique.ttf') format('truetype'),
       url('../fonts/Avenir-Oblique.svg#Avenir-Oblique') format('svg'),
       url('../fonts/Avenir-Oblique.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roman';
  src: url('../fonts/Avenir-Roman.eot');
  src: url('../fonts/Avenir-Roman.woff2') format('woff2'),
       url('../fonts/Avenir-Roman.woff') format('woff'),
       url('../fonts/Avenir-Roman.ttf') format('truetype'),
       url('../fonts/Avenir-Roman.svg#Avenir-Roman') format('svg'),
       url('../fonts/Avenir-Roman.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'heavy';
  src: url('../fonts/Avenir-Heavy.eot');
  src: url('../fonts/Avenir-Heavy.woff2') format('woff2'),
       url('../fonts/Avenir-Heavy.woff') format('woff'),
       url('../fonts/Avenir-Heavy.ttf') format('truetype'),
       url('../fonts/Avenir-Heavy.svg#Avenir-Heavy') format('svg'),
       url('../fonts/Avenir-Heavy.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

$oblique: 'oblique', sans-serif;
$roman: 'roman', sans-serif;
$heavy: 'heavy', sans-serif;

.color-seafoam{
  color: $seafoam;
}
.color-gray-light{
  color: $gray-light;
}
.color-gray-medium{
  color: $gray-medium;
}
.color-gray-dark{
  color: $gray-dark;
}

body{
  color: $gray-medium;
  font-family: $roman;
}

p{
  font-size: 18px;
  margin: 0 0 8px;
}

h1{
  text-transform: uppercase;
  letter-spacing: -3px;
  font-family: $heavy;
  font-size: 80px;
  line-height: .9;
}

h2{
  font-family: $heavy;
  text-transform: uppercase;
  font-size: 30px;
}

h3{
  text-transform: uppercase;
  font-size: 24px;
  line-height: 2.25;
}

h1, h2, h3{
  .box{
    line-height: 3;
    font-size: .25em;
    padding: .25em 1em;
    letter-spacing: 0;
  }
}

.box{
  line-height: 3;
  font-size: .9em;
  padding: .25em 1em;
  letter-spacing: 0;
  text-transform: uppercase;
}

.cta{
  padding: 15px 25px;
  border-radius: 2px;
  font-size: 14px;
  font-family: $heavy;
  text-transform: uppercase;
  text-decoration: none;

  &.cta-seafoam{
    color: $gray-dark;
    background: $seafoam;
    transition: $out-transition;

    &:hover,
    &:focus{
      background: $white;
      transition: $in-transition;
    }
  }
}
